* {
  padding: 0px;
  margin: 0px;
}

/*------------ HEADER---------------- */

.header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-image: url(img/pat_header.jpg);
  background-color: cornsilk;
  background-repeat: repeat;
  background-repeat: cover;
  text-align: center;
  list-style: none;
}

/* ---------------NAVBAR---------- */

.Header__nav ul {
  padding: 1rem;
  margin: 1rem;
  list-style-type: none;
}

/* .header__nav li{
    display: inline-block
    ;
} */

.header__nav a {
  text-decoration: none;
  text-transform: none;
  color: black;
  font-size: 1.5rem;
  background-color: burlywood;
}

.header__nav a:hover {
  background-color: rgb(21, 56, 5);
  color: bisque;
}

.header__nav--principal {
  list-style: none;
}

.header__titulo {
  color: rgb(234, 236, 234);
  font-size: 30px;
  padding: 0.5px;
  margin: 0.5rem;
  font-weight: lighter;
  background-color: rgb(21, 56, 5);
}

/*--------CONTENT-----*/

.contenedorFlex {
  display: flex;
}
.section__content {
  display: grid;
  grid-template-columns: 2;
  gap: 2rem;
  background-image: linear-gradient(to top, rgb(159, 210, 167), white);
  padding: 2rem;
  font-size: 1.2;
  line-height: 1.5;
  text-align: justify;
}

.animate__animated {
  text-align: center;
  font-size: 3rem;
  color: rgb(5, 82, 5);
  padding: 1rem ;
  margin: 1rem;
}

.img__locales {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}
.img__locales--moving {
  max-width: 200px;
  min-width: 100;
}
.aside {
  background-color: rgb(230, 225, 168);
  outline-style: groove;
  text-align: center;
  font-family: Verdana;
}
.aside__list--ul {
  list-style-type: none;
  text-align: center;
}

.footer {
  background-color: black;
  padding-bottom: 2rem;
  text-align: center;
}

.cardmaster {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  }

}
@media screen and (max-width: 500) {
    .header__nav a:hover {
        background-color: rgb(5, 14, 0);
        color: rgb(248, 139, 7);

}